body {
	-webkit-text-size-adjust: none;
	margin: 0;
	font: 14px/1.5 $font;
	// background: #1D1F40;
	background: red;
	color: #fff;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol,dl,dd,fieldset,pre {margin: 0;}
ol, ul, td, fieldset {padding: 0;}
input, select, textarea, button, pre, a {
	font : {
		family: inherit;
		size: inherit;
		weight: inherit;
	}
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-decoration: none;
}
input, select, textarea {
	margin: 0; padding: 0;
	-webkit-appearance: none;
	border-radius: 0;
	box-sizing: border-box;
	vertical-align: top;
}
li {list-style: none;}
table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
	table-layout: fixed;
}
fieldset, img {border: 0;}
img {
	vertical-align: top;
	max-width: 100%;
}
label, td img {vertical-align: middle;}
h1,h2,h3,h4,h5,strong,b,th {font-weight: 600;}
legend, caption, .blind {@include blind;}
address, em {font-style: normal;}
button {
	margin: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer;
	background: none;
	border: 0;
	border-radius: 0;
	> span {position: relative;}
}
pre {white-space: pre-line;}

hr {margin: 50px 0; border-top: 1px solid red;}
